#include <winver.h>
#include <ver.h>
#include <common.ver>

#define APSTUDIO_HIDDEN_SYMBOLS
#include <winuser.h>
#include <commctrl.h>
#undef APSTUDIO_HIDDEN_SYMBOLS

#include "Track.h"

IDD_DLG_TRACK DIALOG DISCARDABLE  9, 15, 420, 206
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Track To BreakPoint"
FONT 9, "MS Shell DLG"
BEGIN
	GROUPBOX        "Log", IDC_STATIC, 6, 3, 292, 151
	GROUPBOX        "Register", IDC_STATIC, 300, 3, 113, 199
	GROUPBOX        "Option", IDC_STATIC, 6, 153, 292, 49
	
	EDITTEXT        IDC_EDIT_REGISTER, 304, 13, 105, 185,
	ES_MULTILINE | ES_AUTOHSCROLL | ES_WANTRETURN

	EDITTEXT        IDC_EDIT_LOG, 10, 163, 221, 33,
	ES_MULTILINE | ES_AUTOVSCROLL | ES_WANTRETURN | WS_VSCROLL

	CONTROL         "", IDC_TREE_LOG, WC_TREEVIEW,
	TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | WS_HSCROLL | WS_GROUP | WS_TABSTOP,
	10, 13, 283, 138, WS_EX_CLIENTEDGE
	
	DEFPUSHBUTTON   "Restart", IDC_RESTART, 237, 163, 55, 15, WS_GROUP
	DEFPUSHBUTTON   "Continue", IDC_CONTINUE, 237, 180, 55, 15, WS_GROUP
END